@import url(http://fonts.googleapis.com/css?family=Josefin+Slab:100,400,400italic);
/* media queries for the booths */
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /* line 25, media-query.less */
  .container {
    width: 460px;
  }
  /* line 32, media-query.less */
  #smallSection .booth,
  #smallSection .booked {
    width: 35px;
    height: 35px;
  }
  /* line 38, media-query.less */
  #smallSection .singleColumn {
    width: 43px;
  }
  /* line 43, media-query.less */
  #smallSection .doubleColumn {
    width: 86px;
  }
}
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /* line 65, media-query.less */
  .container {
    width: 748px;
  }
  /* line 72, media-query.less */
  #smallSection .booth,
  #smallSection .booked {
    width: 45px;
    height: 45px;
  }
  /* line 78, media-query.less */
  #smallSection .singleColumn {
    width: 53px;
  }
  /* line 83, media-query.less */
  #smallSection .doubleColumn {
    width: 106px;
  }
  /* line 94, media-query.less */
  #mediumSection .booth {
    width: 63px;
    height: 63px;
  }
  /* line 104, media-query.less */
  #largeSection .booth {
    width: 70px;
    height: 70px;
  }
}
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /* line 114, media-query.less */
  .container {
    width: 960px;
  }
  /* line 121, media-query.less */
  #smallSection .booth,
  #smallSection .booked {
    width: 61px;
    height: 61px;
  }
  /* line 127, media-query.less */
  #smallSection .singleColumn {
    width: 69px;
  }
  /* line 132, media-query.less */
  #smallSection .doubleColumn {
    width: 138px;
  }
  /* line 138, media-query.less */
  #mediumSection .booth {
    width: 75px;
    height: 75px;
  }
  /* line 144, media-query.less */
  #largeSection .booth {
    width: 80px;
    height: 80px;
  }
}
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /* line 154, media-query.less */
  .container {
    width: 960px;
  }
  /* line 161, media-query.less */
  #smallSection .booth,
  #smallSection .booked {
    width: 71px;
    height: 71px;
  }
  /* line 170, media-query.less */
  #smallSection .booth,
  #smallSection .booked {
    width: 71px;
    height: 71px;
  }
  /* line 176, media-query.less */
  #smallSection .singleColumn {
    width: 79px;
  }
  /* line 181, media-query.less */
  #smallSection .doubleColumn {
    width: 158px;
  }
  /* line 187, media-query.less */
  #mediumSection .booth {
    width: 90px;
    height: 90px;
  }
  /* line 193, media-query.less */
  #largeSection .booth {
    width: 100px;
    height: 100px;
  }
}
/* Mehrdad's animations start */
@-webkit-keyframes shake {
  /* line 3, animation.less */
  0% {
    -webkit-transform: translate(2px, 0px);
  }
  /* line 4, animation.less */
  10% {
    -webkit-transform: translate(-1px, 0px);
  }
  /* line 5, animation.less */
  20% {
    -webkit-transform: translate(-3px, 0px);
  }
  /* line 6, animation.less */
  30% {
    -webkit-transform: translate(0px, 0px);
  }
  /* line 7, animation.less */
  40% {
    -webkit-transform: translate(1px, 0px);
  }
  /* line 8, animation.less */
  50% {
    -webkit-transform: translate(-1px, 0px);
  }
  /* line 9, animation.less */
  60% {
    -webkit-transform: translate(-3px, 0px);
  }
  /* line 10, animation.less */
  70% {
    -webkit-transform: translate(2px, 0px);
  }
  /* line 11, animation.less */
  80% {
    -webkit-transform: translate(-1px, 0px);
  }
  /* line 12, animation.less */
  90% {
    -webkit-transform: translate(2px, 0px);
  }
  /* line 13, animation.less */
  100% {
    -webkit-transform: translate(1px, 0px);
  }
}
/* Mehrdad's animations end */
/* line 18, main.less */
body {
  /*background: black;*/
}
/* line 24, main.less */
.left {
  float: left;
}
/* line 29, main.less */
.clear {
  clear: both;
}
/* line 33, main.less */
.container {
  margin: auto;
  position: relative;
}
/* line 41, main.less */
#floor .spacer {
  width: 100%;
  float: left;
  margin: 40px 0;
}
/* line 48, main.less */
#floor input[type="checkbox"] {
  width: 0px;
  height: 0px;
  overflow: hidden;
  visibility: hidden;
  position: absolute;
}
/* line 57, main.less */
#floor .singleColumn {
  height: 100%;
  float: left;
}
/* line 63, main.less */
#floor .doubleColumn {
  height: 100%;
  float: left;
}
/* line 69, main.less */
#floor .medium {
  background: #58ff9b;
}
/* line 70, main.less */
#floor .large {
  background: #4dfffd;
}
/* line 71, main.less */
#floor .booth {
  font-family: 'Josefin Slab', serif;
  border: 1px inset rgba(111, 111, 111, 0.24);
  border-radius: 2px;
}
/* line 78, main.less */
#floor #smallSection {
  width: 100%;
  float: left;
}
/* line 82, main.less */
#floor #smallSection .booth {
  background: #FBC13D;
  float: left;
  color: #6f6f6f;
  padding: 3px;
  cursor: pointer;
  -webkit-transition: all 500ms;
}
/* line 91, main.less */
#floor #smallSection .booth.selected {
  background: red;
  color: white;
  font-size: 2em;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  transform: rotate(360deg);
}
/* line 99, main.less */
#floor #smallSection .booth.selected:hover {
  background: red !important;
}
/* line 105, main.less */
#floor #smallSection .booth:hover {
  font-size: 2em;
  background: #4dff4d;
}
/* line 112, main.less */
#floor #smallSection .booked {
  font-style: italic;
  background: whitesmoke;
  float: left;
  padding: 3px;
  border: 1px inset red;
  cursor: not-allowed;
  color: silver;
}
/* line 122, main.less */
#floor #smallSection .booked:hover {
  -webkit-animation-name: shake;
  -webkit-animation-duration: 0.8s;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
/* line 132, main.less */
#floor #smallSection .gutter {
  height: 100%;
}
/* line 137, main.less */
#floor #smallSection .byOne {
  width: 100%;
  margin-bottom: 50px;
}
/* line 144, main.less */
#floor #smallSection .byTwo {
  width: 100%;
  margin-bottom: 50px;
}
/* line 151, main.less */
#floor #smallSection .byThree {
  width: 100%;
  margin-bottom: 50px;
}
/* line 158, main.less */
#floor #smallSection .byFour {
  width: 100%;
  margin-bottom: 20px;
}
/* line 166, main.less */
#floor #mediumSection {
  width: 100%;
  float: left;
}
/* line 170, main.less */
#floor #mediumSection .booth {
  font-family: arial narrow;
  background: #4FFF89;
  float: left;
  color: #6f6f6f;
  padding: 3px;
  cursor: pointer;
}
/* line 178, main.less */
#floor #mediumSection .booth.selected {
  background: red;
}
/* line 182, main.less */
#floor #mediumSection .booth:hover {
  background: #4dff4d;
}
/* line 188, main.less */
#floor #mediumSection .byOne {
  width: 100%;
  height: 92px;
}
/* line 195, main.less */
#floor #largeSection {
  width: 100%;
  float: left;
}
/* line 200, main.less */
#floor #largeSection .booth {
  font-family: arial narrow;
  background: #4DFFFD;
  float: left;
  color: #6f6f6f;
  padding: 3px;
  cursor: pointer;
  margin-left: 25px;
}
/* line 209, main.less */
#floor #largeSection .booth.selected {
  background: red;
}
/* line 213, main.less */
#floor #largeSection .booth:hover {
  background: #4dff4d;
}
/* line 217, main.less */
#floor #largeSection .booth:first-of-type {
  margin-left: 0px;
}
