/* media queries for the booths */

@media only screen and (min-width : 320px) 
{
	.container 
	{
		width: 320px;
	}

	#smallSection 
	{
		.booth, .booked
		{
			width: 17px;
			height: 17px;
			font-size: 12px;
			&:hover,&.selected
			{
				font-size:18px;
			}
			

		}

		.singleColumn
		{
			width: 25px;
		}

		.doubleColumn
		{
			width: 50px;
		}

	}

	#mediumSection
	{
		.booth, .booked
		{
			width: 40px;
			height: 40px;
		}

		.singleColumn
		{
			width: 45px;
		}

		.doubleColumn
		{
			width: 90px;
		}		
	}


	#largeSection .booth
	{
		width: 20px;
		height: 20px;
		margin-left: 10px;
	}
	
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) 
{
	.container 
	{
		width: 460px;
	}

	#smallSection 
	{
		.booth, .booked
		{
			width: 30px;
			height: 30px;
		}

		.singleColumn
		{
			width: 38px;
		}

		.doubleColumn
		{
			width: 76px;
		}

	}

	#mediumSection
	{
		.booth, .booked
		{
			width: 30px;
			height: 30px;
		}

		.singleColumn
		{
			width: 65px;
		}

		.doubleColumn
		{
			width: 130px;
		}		
	}

	#largeSection .booth
	{
		margin-left: 25px;
		width: 25px;
		height: 25px;
	}
	
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) 
{
	.container 
	{
		width: 748px;
	}

	#smallSection 
	{
		.booth, .booked
		{
			width: 45px;
			height: 45px;
		}

		.singleColumn
		{
			width: 53px;
		}

		.doubleColumn
		{
			width: 106px;
		}

	}
	

	#mediumSection
	{
		.booth, .booked
		{
			width: 60px;
			height: 60px;
		}

		.singleColumn
		{
			width: 95px;
		}

		.doubleColumn
		{
			width: 210px;
		}		
	}


	#largeSection .booth
	{
		margin-left: 25px;
		width: 60px;
		height: 60px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) 
{
	.container 
	{
		width: 960px;
	}

	#smallSection 
	{
		.booth, .booked
		{
			width: 61px;
			height: 61px;
		}

		.singleColumn
		{
			width: 69px;
		}

		.doubleColumn
		{
			width: 138px;
		}
	}

	#mediumSection
	{
		.booth, .booked
		{
			width: 90px;
			height: 90px;
		}

		.singleColumn
		{
			width: 95px;
		}

		.doubleColumn
		{
			width: 210px;
		}		
	}

	#largeSection .booth
	{
		margin-left: 25px;
		width: 80px;
		height: 80px;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) 
{
	.container 
	{
		width: 960px;
	}

	#smallSection 
	{
		.booth, .booked
		{
			width: 71px;
			height: 71px;
		}
	}
	
	#smallSection 
	{
		.booth, .booked
		{
			width: 71px;
			height: 71px;
		}

		.singleColumn
		{
			width: 79px;
		}

		.doubleColumn
		{
			width: 158px;
		}
	}

	#mediumSection
	{
		.booth, .booked
		{
			width: 80px;
			height: 80px;
		}

		.singleColumn
		{
			width: 95px;
		}

		.doubleColumn
		{
			width: 210px;
		}		
	}

	#largeSection .booth
	{
		margin-left: 25px;
		width: 90px;
		height: 90px;
	}
}